@import url("../fonts/numberfont/stylesheet.css");/* 引入字体样式 */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd {
	/* 默认有边距，都要清除 */
	margin: 0;
	padding: 0;
	/* 去掉列表的原点 */
	list-style: none;
	/* 默认鼠标 */
	cursor: default;
}
/*可选*/
html,
body {
	width: 100%;
	margin: 0 auto;
	/* height: 100%; */
	color: #666;
	/*字体设置*/
	font-size: 14px;
	font-family: 'DIN Alternate'!important;
	font-style: normal;
}
img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
/*行内元素*/
a,
a:active,
a:visited {
	/*下划线和颜色*/
	text-decoration: none;
	/* color: #ccc; */
}
a:hover {
	color: #333;
}
textarea {
	/* 边框清零 */
	border: none;
	/* 轮廓线清零 */
	outline: none;
	/* 防止文本域被随意拖拽 */
	resize: none;
}
i {
	/*文字样式*/
	font-style: normal;
}
table {
	/*边框合并*/
	border-collapse: collapse;
	border-spacing: 0;
}
/* 使用伪元素清除浮动 */
.clearfix::before,
.clearfix::after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: none;
	clear: both;
}
.clearfix {
	zoom: 1;
}
/* 按钮 */
button {
	margin: 0;
	padding: 0;
	border: 1px solid transparent; //自定义边框
	outline: none; //消除默认点击蓝色边框效果
}
/* 其他样式 */
.fl {
	float: left;
}
.fr {
	float: right;
}
.color666 {
	color: #666;
}
.colorfff{
	color: #fff;
}
.colorf60 {
	color: #f60;
}
.colorf90 {
	color: #f90;
}
.bg_colorf60 {
	background: #f60;
}
.bg_colorf90 {
	background: #f90;
}
.bg_color390{
	background: #390;
}